.btn-color {
    font-size: 20px;
    background-color: #0e1c36;
    color: #fff;

}

.signup-btn:hover {
    background-color: green;
}

.signup a {
    text-decoration: none;
    font-size: 30px;
    color: coral;
}

.signup a:hover{
    color:burlywood ;
}

.signup p{
    font-size: 25px;
}

.pwd-container {
    position: relative;
}

.pwd-container img {
    cursor: pointer;
    position: absolute;
    width: 20px;
    right: 8px;
    top: 15px;
}