.gallery .box-container {
    margin: 7rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.gallery .box-container .box {
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border: 2px solid green;
    border-radius: 0.5rem;
    flex: 1 1 30rem;
    height: 20rem;
    position: relative;
}

.gallery .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box .content {
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(22, 15, 15, 0.7);
    padding: 2rem;
    padding-top: 5rem;
}

.gallery .box-container .box:hover .content {
    top: 0;
}

.gallery .box-container .box .content h3 {
    font-size: 2.5rem;
    color: orange;
}

.gallery .box-container .box .content p {
    font-size: 1.5rem;
    color: black;
    padding: 0.5rem 0;
}


@media (max-width: 460px) {

    .gallery .box-container {
        margin: 1rem;
        display: block;
    }

    .gallery .box-container .box {
        margin: 20px 0px 20px 0px;
        border: 2px solid green;
        border-radius: 15px;
        flex: 1 1 30rem;
        height: 40rem;
    }
}