.forgot-pass {
    text-decoration: none;
    color: blanchedalmond;
    font-size: 20px;
}

.forgot-pass:hover {
    color: coral;
}

.submit-button:hover {
    background-color: green;
}

.profile-image-pic {
    height: 100px;
    width: 100px;
}

.user-input {
    margin-right: 35%;
    margin-left: 35%;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider_line {
    width: 120px;
    height: 3px;
    margin: 0 15px;
    background-color: rgba(149, 160, 167, 1);
}

.social-login-1 {
    text-align: center;
}

@media only screen and (max-width: 460px) {
    .user-input {
        margin-right: 10%;
        margin-left: 10%;
    }

}