.add-button {
  position: absolute;
  top: 15%;
  left: 45%;
  background-color: brown;
  font-size: 20px;
  border-radius: 5px 25px 5px 25px;
  padding: 10px 30px
}

.add-button:hover {
  background-color: burlywood;
}

.heading {
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 35px;
  color: rgb(212, 112, 30);
}

.box-button-1 {
  margin: 15px;
  padding: 12px;
  background-color: green;
  border-radius: 15px;
  color: white;
  width: 50%;
}

.box-button-1:hover {
  background-color: rgb(227, 153, 63);
}

.box-button-2 {
  margin: 15px;
  padding: 12px;
  background-color: red;
  border-radius: 15px;
  color: white;
  width: 50%;
}

.box-button-2:hover {
  background-color: rgb(73, 24, 8);
}