.footer {
  background: #B0E5BC;
}

.footer-details {
  display: flex;
  justify-content: space-between;
}

.footer .social-icon {
  font-size: 30px;
  margin-right: 50px;
}

.social-icon a {
  padding-right: 20px;
}

.footer-middle a {
  font-size: 15px;
  display: flex;
  text-decoration: none;
}

.footer-end a {
  font-size: 15px;
  display: flex;
  text-decoration: none;
}

.footer .copyright {
  text-align: center;
  margin-top: 20px;
}