.footer {
  background: #B0E5BC;
}

.footer-details {
  display: flex;
  justify-content: space-between;
}

.footer .social-icon {
  font-size: 30px;
  margin-right: 50px;
}

.social-icon a {
  padding-right: 20px;
}

.footer-middle a {
  font-size: 15px;
  display: flex;
  text-decoration: none;
}

.footer-end a {
  font-size: 15px;
  display: flex;
  text-decoration: none;
}



.footer .credit {
  padding: 2.5rem 1rem;
  color: rgb(34, 29, 29);
  font-weight: normal;
  font-size: 2rem;
}

.footer .credit span {
  color: red;
}