.footer {
  background: #B0E5BC;
}

h2 {
  margin-top: 25px;
}

.footer-details {
  display: flex;
  justify-content: space-around;
}

.footer .social-icon {
  font-size: 2rem;
}

.social-icon a {
  padding: .5rem;
}

.footer-middle a {
  font-size: 1rem;
  display: flex;
  text-decoration: none;
}

.footer-end a {
  font-size: 1rem;
  display: flex;
  text-decoration: none;
}

.footer .copyright {
  font-size: 1.5rem;
  text-align: center;
  padding: 25px;

}


@media only screen and (max-width: 460px) {

  h2 {
    font-size: 25px;
    padding-top: 25px;
  }

  .footer-details {
    text-align: center;
    display: block;

  }

  .footer .social-icon {
    font-size: 1.8rem;
  }

  .social-icon a {
    padding: 1rem;
  }

  .footer-middle a {
    font-size: 1.2rem;
    display: block;
    text-decoration: none;
  }

  .footer-end a {
    font-size: 1.2rem;
    display: block;
    text-decoration: none;
  }

  .footer .copyright {
    font-size: 1rem;

  }




}