.row_container {
    display: flex;
}

.delivered_btn {
    margin-top: 0;
    padding: 5px;
    background-color: #69dd33;
    color: rgb(14, 5, 5);
    width: 25%;
    font-size: 20px;
    border-radius: 25px;
}

.restock_btn {
    margin: 10px 0;
    padding: 12px;
    background-color: #8c0de0;
    font-size: 20px;
    border-radius: 15px;
}

.manage-btn {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.quantity {
    border: 2px solid rgb(181, 8, 234);
    width: 20%;
    margin: auto;
    height: 30px;
    border-radius: 0.5rem;
}