.add-button {
    position: absolute;
    top: 15%;
    left: 45%;
    background-color: brown;
    font-size: 20px;
    border-radius: 5px 25px 5px 25px;
    padding: 10px 30px
}

.add-button:hover {
    background-color: burlywood;
}

.inv-text {
    margin-top: 10%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(212, 112, 30);
}

.inventory {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    height: 50%;
    text-align: start;
    
}